Data/*
.vscode/*
__pycache__/*
Div50.png
test.tex
test/__pycache__/*
test/build/*
AE2223.code-workspace
test/*
build/*
e_functions.cp37-win_amd64.pyd
e_functions.c
e_functions.html
U_c0.tex
phi_c3_Plot.tex
test_error/primal_primal_errors_C0_3.dat
test_error/primal_dual_errors_C0_0.dat
test_error/primal_dual_errors_C0_3.dat
test_error/primal_gauss_errors_C0_0.dat
test_error/primal_gauss_errors_C0_3.dat
test_error/primal_primal_errors_C0_0.dat
__latexindent_temp.tex
Phi_c0_h.tex
phi_c03.tex
U_c0_h.tex
u_c0_n.tex
U_c3_n.tex
U_c3_h.tex
